html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Prevents scrollbars */
  -webkit-tap-highlight-color: transparent;
  /* Disable tap highlight on mobile */
}

body {
  background-color: #100c14;
  /* Match 3D scene background */
  font-family: sans-serif;
  color: white;
}